<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-NoticeSetting" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>NoticeSetting</name>
	<js-module name="NoticeSetting" src="www/NoticeSetting.js">
		<clobbers target="NoticeSetting" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="NoticeSetting">
				<param name="ios-package" value="NoticeSetting" />
			</feature>
		</config-file>
		<source-file src="src/ios/NoticeSetting.m" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="NoticeSetting">
				<param name="android-package" value="cordova.plugin.NoticeSetting.NoticeSetting" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/NoticeSetting.java" target-dir="src/cordova-plugin-NoticeSetting/NoticeSetting" />
	</platform>
</plugin>